.modal-button{
  width: $m-button-w;
  height: $m-button-h;
  background-color: $color-gold;
  border: none;
  color: $color-black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: $m-button-margin;

  &__icon{
    padding-left: 13px;
  }
}

.ff-button{
  width: 137px;
  height: 54px;
  background-color: #db302c;
  color: $color-white;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

.services-button{
  display: block;
  width: 238px;
  height: 62px;
  background-color: $color-gold;
  color: $color-black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 34px auto;
}

.ln-button{
  width: 238px;
  height: 62px;
  background-color: $color-gold;
  color: $color-black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  display: block;
  margin: 27px auto 30px;
}