.ff-input{
  width: 241px;
  height: 54px;
  background-color: $color-white;
  border: 1px solid #b7b7b7;
  padding: 0 0 0 18px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;

  &::placeholder{
    color: #bababa;
  }
}