.service{

  &__content{
    width: $content-width;
    margin: 27px auto 20px;
    display: flex;
  }

  &__info{
    padding-left: 21px;
  }

  &__title{
    color: #db302c;
    font-family: "Eurostile LT Std - Demi", sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin: 0;
  }

  & p{
    color: $color-black;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin: 11px 0 24px;
  }

  &::after{
    content: "";
    display: block;
    width: $content-width;
    margin: 0 auto;
    height: 1px;
    background-color: #d4d4d4;
  }

  &__image{
    max-width: 535px;
    height: 100%;
  }
}